@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Lora:ital,wght@0,700;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    -webkit-tap-highlight-color: transparent;
  }
  a{
    @apply cursor-pointer inline-block
  }
  p{
    @apply md:text-lg
  }
}

@layer components {
  .btn{
    @apply rounded-full bg-zinc-100 outline-none py-2 px-5 m-2 transition-all w-max cursor-pointer 
  }
  .btn-ghost{
    @apply border bg-transparent
  }
  .w-h-screen {
    @apply h-screen w-screen
  }
  .w-h-full {
    @apply h-full w-full
  }
  .flex-center{
    @apply justify-center items-center
  }

  .btn-xs {
    @apply p-1 text-xs
  }
  .btn-sm {
    @apply py-1 px-2 text-sm
  }
  .btn-base {
    @apply py-2 px-4
  }
  .btn-md {
    @apply py-2 px-6
  }
  .btn-lg {
    @apply py-3 px-8 text-lg
  }
  .btn-xl {
    @apply py-3 px-10 text-lg
  }
  .btn-2xl {
    @apply py-4 px-12 text-xl
  }
  

}
@layer utilities {
  .neon-shadow{
    text-shadow: 10px 10px 10px #2FA4FF;
  }
}